.row__detail {
  display: none;
  padding: 20px 30px 20px 60px;
  width: 100%;
  height: 0;
  background: linear-gradient(to right, #000000 35%, rgba(0, 0, 0, 0.3) 70%),
    url('https://image.tmdb.org/t/p/original/8yhWlFcJ8zCqjfCvLy3lWFuawR1.jpg');
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: right !important;
  overflow: hidden;
  transition: all 0.3s ease;
}

.row__detail--active {
  display: block;
  height: 800px;
}

.detail__head {
  display: flex;
  align-items: center;
}

.detail__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.detail__tab {
  margin-right: 10px;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.3s ease;
}

.detail__tab:last-of-type {
  margin-right: 0;
}

.detail__tab:hover {
  opacity: 1;
}

.detail__tab--active {
  border-radius: 20px;
  background: #1f1f1f;
  opacity: 1;
}

.detail__close {
  color: #ffffff;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.3s ease;
}

.detail__close:hover,
.detail__close:active {
  opacity: 1;
}

.detail__close svg {
  width: 40px;
  height: 40px;
}

.detail__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 45%;
  width: 100%;
  min-height: 500px;
  transition: all 0.3s ease;
}

.detail__body--top {
  display: none;
  transform: translateY(-100%);
}

.detail__body--bottom {
  display: none;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3) 30%);
  transform: translateY(100%);
}

.detail__body--active {
  display: flex;
  transform: translateY(0);
  transition: all 0.3s ease;
}

.detail__title {
  margin-bottom: 15px;
  font-size: 72px;
  color: #ffffff;
}

.detail__infos {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detail__info {
  margin-right: 10px;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.6;
}

.detail__shortDescription {
  display: -webkit-box;
  margin-bottom: 70px;
  max-width: 75%;
  font-weight: 400;
  font-size: 28px;
  color: #ffffff;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.detail__info--rating {
  margin-right: 5px;
  font-weight: 700;
}

.detail__bottom {
  display: flex;
}

.detail__left {
  max-width: 50%;
  width: 100%;
}

.detail__left .detail__title {
  font-size: 48px;
}

.detail__rating {
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  opacity: 0.6;
}

.detail__votesCount {
  display: block;
  margin-bottom: 30px;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.6;
}

.detail__description {
  display: -webkit-box;
  max-width: 90%;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.3;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.detail__right {
  display: flex;
  justify-content: center;
  max-width: 50%;
  width: 100%;
}

.detail__col {
  width: 200px;
}

.colList {
  margin-bottom: 20px;
}

.colList__title {
  margin-bottom: 10px;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.6;
}

.colList__item {
  font-size: 16px;
  color: #ffffff;
}
