.movieVideo {
  position: fixed;
  top: -10%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  height: 0;
  background: #1f1f1f;
  overflow: hidden;
  transition: all 0.5s ease;
}

.movieVideo--active {
  top: 0;
  height: auto;
  transition: all 0.5s ease;
}

.movieVideo__player {
  width: 100% !important;
  height: 100% !important;
}

.movieVideo__close {
  position: absolute;
  top: 3%;
  left: 3%;
  color: #ffffff;
}

.movieVideo__close svg {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
